<!DOCTYPE html>
<html>
<head>
  <title>pScore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    <a class="brand" href"#">JFDI</a>
    <h1><%= link_to "pScore", root_path %></h1>
    <ul class="nav">
      <li><%= link_to "Todo Lists", todo_lists_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
    </ul>
  </div>

  <% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>

<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
    <div class="span3">
</div>

</body>
</html>
